
<hr>

<footer>
  <div style="display: flex; flex-direction: column">
    <div style="display: flex;  justify-content: space-between; gap: 1.5rem ">
      <div style="display: flex; flex-direction: column">
        <h6 style="margin: 0px"><a href="http://acmilan.com.pl">About us</a></h6>
        <ul>
          <li><a href="http://acmilan.com.pl">Careers</a></li>
          <li><a href="http://acmilan.com.pl">Contact us</a></li>
          <li><a href="http://acmilan.com.pl">Customers</a></li>
          <li><a href="http://acmilan.com.pl">Newsletter</a></li>
          <li><a href="http://acmilan.com.pl">Newsroom</a></li>
          <li><a href="http://acmilan.com.pl">Swag store</a></li>
          <li><a href="http://acmilan.com.pl">Virtual events</a></li>
          <li><a href="http://acmilan.com.pl">What is a container</a></li>
          <li><a href="http://acmilan.com.pl">Why docker</a></li>
        </ul>
      </div>

      <div style="display: flex; flex-direction: column">
        <h6 style="margin: 0px"><a href="http://acmilan.com.pl">Developers</a></h6>
        <ul>
          <li><a href="http://acmilan.com.pl">Block</a></li>
          <li><a href="http://acmilan.com.pl">Community</a></li>
          <li><a href="http://acmilan.com.pl">Get started</a></li>
          <li><a href="http://acmilan.com.pl">Open Source</a></li>
          <li><a href="http://acmilan.com.pl">Preview Program</a></li>
          <li><a href="http://acmilan.com.pl">Use cases</a></li>
        </ul>
      </div>

      <div style="display: flex; flex-direction: column">
        <h6 style="margin: 0px"><a href="http://acmilan.com.pl">Features</a></h6>
        <ul>
          <li><a href="http://acmilan.com.pl">Container Runtime</a></li>
          <li><a href="http://acmilan.com.pl">Developer Tools</a></li>
          <li><a href="http://acmilan.com.pl">Docker Desktop</a></li>
          <li><a href="http://acmilan.com.pl">Docker Hub</a></li>
          <li><a href="http://acmilan.com.pl">Docker Product Roadmap</a></li>
          <li><a href="http://acmilan.com.pl">Secure Software Supply Chain</a></li>
          <li><a href="http://acmilan.com.pl">Trusted Content</a></li>
        </ul>
      </div>

      <div style="display: flex; flex-direction: column">
        <h6 style="margin: 0px"><a href="http://acmilan.com.pl">Product offerings</a></h6>
        <ul>
          <li><a href="http://acmilan.com.pl">Docker Business</a></li>
          <li><a href="http://acmilan.com.pl">Docker Personal</a></li>
          <li><a href="http://acmilan.com.pl">Docker Pro</a></li>
          <li><a href="http://acmilan.com.pl">Docker Team</a></li>
          <li><a href="http://acmilan.com.pl">Docker Verified Publisher</a></li>
          <li><a href="http://acmilan.com.pl">Partners</a></li>
          <li><a href="http://acmilan.com.pl">Pricing FAQs</a></li>
        </ul>
      </div>
    </div>

    <div class="footerLinks">
      <div><a href="http://acmilan.com.pl">Terms of Services</a></div>
      <div><a href="http://acmilan.com.pl">Status</a></div>
      <div><a href="http://acmilan.com.pl">Legal</a></div>
    </div>

    <br>

    <div style="display: flex; gap: 5px; justify-content: space-between">

      <div>
        <span style="font-size: 0.4rem"> Copyright © 2013-2023 Docker Inc. All rights reserved.</span>
      </div>
      <div class="footerLinks">
        <div><a href="http://acmilan.com.pl">Twitter</a></div>
        <div><a href="http://acmilan.com.pl">Youtube</a></div>
        <div><a href="http://acmilan.com.pl">Github</a></div>
        <div><a href="http://acmilan.com.pl">Linkedin</a></div>
        <div><a href="http://acmilan.com.pl">Facebook</a></div>
        <div><a href="http://acmilan.com.pl">Reddit</a></div>
      </div>
    </div>
  </div>
</footer>
