<div class="container">
  <div class="box">
    <h5>Best practices</h5>
    <ul style="margin: 0">
      <li><a href="http://acmilan.com.pl">Best practices for writing a Dockerfile</a></li>
      <li><a href="http://acmilan.com.pl">Best practices for writing a Docker Compose file</a></li>
      <li><a href="http://acmilan.com.pl">Docker development best practices</a></li>
      <li><a href="http://acmilan.com.pl">Docker security best practices</a></li>
    </ul>
  </div>
  <div class="box">
    <h5>Develop with Docker</h5>
    <ul>
      <li><a href="http://acmilan.com.pl">Containerize a Node.js app using Docker</a></li>
      <li><a href="http://acmilan.com.pl">Containerize a Python app using Docker</a></li>
      <li><a href="http://acmilan.com.pl">Containerize a Java app using Docker</a></li>
      <li><a href="http://acmilan.com.pl">Containerize a Go app using Docker</a></li>
      <li><a href="http://acmilan.com.pl">View more languages and frameworks in Docker samples</a></li>
    </ul>
  </div>
</div>
