<div class="container">
  <div style="display: flex; flex-direction: column">
    <h4 style="margin-bottom: 0px">Hardened Docker Desktop for Docker Business customers</h4>
    <p style="font-size: 0.4rem">Two new security features have been introduced for Docker Business users, Settings
      Management and Enhanced Container Isolation, as part of Docker Desktop’s new security model.</p>
    <button style="max-width: 5rem; margin-left: 0">Learn more</button>
  </div>
  <div>
    <img src="assets/hardened-desktop.PNG" style=" object-fit: cover;
  max-width: 6rem;
  min-width: 1rem;">
  </div>
</div>
