.container {
  display: grid;
  grid-template-columns: 1.9fr 0.9fr;
  grid-template-rows: 0.1fr;
  gap: 1rem;
  padding: 0 1.5rem 1rem 1.5rem;


  .links {
    display: flex;
    flex-direction: column;

    > ul {
      margin-left: 0px;
      margin-top: 6px;
      padding-inline-start: 0px;
      padding-left: 6px;
      padding-top: 2px;
    }
  }

  > div {
    background-color: #123b4f;
    padding: 0.9rem;
  }

  .description {
    font-size: 0.4rem;
    margin-bottom: 0.5rem;
  }

  & a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;

    > img {
      max-width: 2rem;
    }
  }
}
