<div class="container">
  <div class="box">
    <div>
      <img src="assets/firstMenu/rocket-dark.svg" alt=""/>
      <div class="title">Get started</div>
    </div>
    <div class="description">Learn Docker basics and the benefits of containerizing your applications.</div>
  </div>
  <div class="box">
    <div>
      <img src="assets/firstMenu/download-docker-dark.svg"/>
      <div class="title">Download and install</div>
    </div>
    <div class="description">Download and install Docker on your machine in a few easy steps.</div>
  </div>
  <div class="box">
    <div>
      <img src="assets/firstMenu/guides-dark.svg"/>
      <div class="title">Guide</div>
    </div>
    <div class="description">Learn how to set up your Docker environment and start containerizing your applications.
    </div>
  </div>
  <div class="box">
    <div>
      <img src="assets/firstMenu/language-guides-dark.svg"/>
      <div class="title">Language-specific guides</div>
    </div>
    <div class="description">Learn how to use Docker with your favorite programming language.</div>
  </div>
  <div class="box">
    <div>
      <img src="assets/firstMenu/manuals-dark.svg"/>
      <div class="title">Manuals</div>
    </div>
    <div class="description">Browse the manuals and learn how to use Docker products.</div>
  </div>
  <div class="box">
    <div>
      <img src="assets/firstMenu/reference-dark.svg"/>
      <div class="title">Reference</div>
    </div>
    <div class="description">Browse the CLI and API reference documentation.</div>
  </div>
</div>
