<header>
  <div class="container">
    <nav class="fullItems">
      <!--logo-->
      <div>
        <img src="assets/docker.png"/>
      </div>
      <!--navbar-->
      <ul class="navLinks">
        <li class="nav-item"><a href="http://acmilan.com.pl">Guides</a></li>
        <li class="nav-item"><a href="http://acmilan.com.pl">Manuals</a></li>
        <li class="nav-item"><a href="http://acmilan.com.pl">Reference</a></li>
        <li class="nav-item"><a href="http://acmilan.com.pl">Samples</a></li>
        <li class="nav-item"><a href="http://acmilan.com.pl">FAQ</a></li>
        <li class="nav-item"><a href="http://acmilan.com.pl">Contributes</a></li>
      </ul>
    </nav>
    <div style="display: flex; justify-content: center;align-items: center; gap: 10px">
      <div class="rightBar">
        <button style="height: 10px">Button</button>
        <p style="margin-right: 0.5rem">Search</p>
      </div>
      <button>B</button>
    </div>
  </div>
</header>
