
<div style="display: flex; flex-direction:column;margin: 0 1.5rem 0 1.5rem; ">
  <h5 style="display: flex; justify-content: flex-start">Play with Docker</h5>
  <div class="container">
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Tutorial</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Self-paced tutorials to increase your Docker knowledge.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Lab environment</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Complete a workshop without installing anything using this Docker playground.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Community training</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Free and paid learning materials from Docker captains.
      </div>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction:column;margin: 1.5rem 1.5rem 0 1.5rem; ">
  <h5 style="display: flex; justify-content: flex-start">Community resources</h5>
  <div class="container">
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Find a local meetup</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Attend one of the 200+ Docker Meetups around the globe.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Upcoming events</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Learn from experts and get to know Docker.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Tune in monthly</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Join the Virtual Docker Meetup Group and online meetups every month.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Community news</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        The Docker Weekly is an email newsletter with the latest content on DOcker and the event agenda for
        the
        upcoming weeks.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Meet the captains</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Select members of the community that are both experts in their field and are passionate about sharing
        their Docker knowledge with others.
      </div>
    </div>
    <div class="box">
      <div style="margin: 0">
        <h6 style="margin: 0 0 .5rem 0">Educational resources</h6>
      </div>
      <div style="font-size: 0.4rem; margin-bottom: 0">
        Expand your understanding of Docker with these additional resources.
      </div>
    </div>
  </div>
</div>
